@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  background-color: #f1f1f1;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}

::-webkit-scrollbar {
  height: 8px;
}

scrollbar-color: #f1f1f1 #888;
